@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Circular;
  font-weight: 800 ;
  src: url(../assets/font/CircularStd-Black.otf) format("opentype");
}
@font-face {
  font-family: Circular;
  font-weight: 700;
  src: url(../assets/font//CircularStd-Bold.otf) format("opentype");
}
@font-face {
  font-family: Circular;
  font-weight: 600;
  src: url(../assets/font/CircularStd-Book.otf) format("opentype");
}
@font-face {
  font-family: Circular;
  font-weight:400;
  src: url(../assets/font/CircularStd-Book.otf) format("opentype");
}
@font-face {
  font-family: Circular;
  font-weight: 300;
  src: url(../assets/font/CircularStd-Light.otf) format("opentype");
}





                
@layer components {
  .hide-scrollbar::-webkit-scrollbar {
    appearance: none;
    height: 0;
  }
}
body {
  font-family: 'Circular', sans-serif;
                                                
}
